html, body {
    height: 100%;
    margin: 0;
}
#header {
    font-size: 25px;
    width: 200px;
    padding-top: 26px;
    padding-bottom: 30px;
    text-align: center;
    background: #4aaaa5;
    color: white;
  }
  #topheader {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    text-align: center;
    background: #ffffff;
    height:88px;
    border-bottom: solid #cccccc 2px;
    top: 0;
}
#navigation {
      text-decoration: none;
      color: #4aaaa5;
      background: white;
  }

 .footer {
    position: fixed;
    padding: 30px;
    bottom: 0px;
    width: 100%;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    margin-top: 90px;
    color: white;
    font-size: small;
    }
.footer, .push {
    height: 0;

  