html, body {
    height: 100%;
    margin: 0;
}
#header {
    font-size: 25px;
    width: 200px;
    padding-top: 26px;
    padding-bottom: 25px;
    text-align: center;
    background: #4aaaa5;
    color: white;
  }
  #topheader {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    text-align: center;
    background: #ffffff;
    height:90px;
    border-bottom: solid #cccccc 2px;
    top: 0;
}

.img-responsive {
    width: auto;
    height: auto;
}

#navigation {
      color: #4aaaa5;
      background: white;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-top: -10px;
    margin-bottom: 10px;
    opacity: .5;
  }
  img {
      width: 100%;
      height 100%;
  }

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    font-size: medium;
    margin-top: 18px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 .footer {
    position: fixed;
    padding: 30px;
    bottom: 0px;
    width: 100%;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    margin-top: 90px;
    color: white;
    font-size: small;
    }
.footer, .push {
    height: 0;
}
    .image { 
        position: relative;
        float: left;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        align-items: flex-end;
        display: flex;
        padding-bottom: 50px;
        padding-left: 30px;
    }
    
    .overlay {
        position: absolute;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        background: #4aaaa5;
        width: 150px;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: -5px;
        width: 93%;
    } 


}
